body {
  background-color: white;
}
.navigate {
   float: right;
    margin-right: 21%;
}
.Ryder-Cup-Video {
   float: left;
    margin-top: 5%;
}
h1 {
  text-align: center;

}
.Header {
  background-color: blue;
  width: auto;
  height: 60px;
}
